body{
    max-width:1200px;
    margin: 0 auto;
}
header{
    background-color: #b6ec14;
    padding-top: 20px;
    padding-bottom: 20px;
    /* កំណត់ Menu នៅនឹង */
    position:sticky;
    top: 0px;
}
a:link.x_mn,a:visited.x_mn{
    color:#ec1212;
    background-color:#98bf21;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    text-decoration:none;
    margin: 0px;
    font-size: 18px;
}
a:hover.x_mn,a:active.x_mn{
    background-color:#7A991A;
    margin: 0px; 
}